
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
@font-face {
    font-family: 'Neue Machina';
    src: url(assets/fonts/neue-regular.otf);
}
body {
    background-color: black;
    color: white;
}
.main {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;

}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

.main::before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain ;
    background-image: url(assets/img/background.svg);
    width: 140vw;
    height: 100vh;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.main::after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain ;
    background-image: url(assets/img/background.svg);
    width: 100vw;
    height: 140vh;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: rotate(180deg);
}

@media only screen and (min-width: 768px) {
    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before {
        width: 70vw;
    }

    .main::after {
        width: 70vw;
    }
}

